@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700&family=Dynalight&family=EB+Garamond&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/aback.png");
  -o-object-fit: cover;
     object-fit: cover;
  overflow-x: hidden;
  font-family: "Chivo", sans-serif;
}

.owl-nav {
  font-size: 40px;
  color: white;
}

.img-cover {
  background-image: linear-gradient(rgba(51, 65, 47, 0), rgba(255, 255, 255, 0.781)), url("../img/1.png");
  height: 800px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.img-cover .text {
  margin-top: 160px;
}
.img-cover .text h1 {
  font-family: "Dynalight", cursive;
  font-size: 125px;
}
.img-cover .text .strip {
  font-family: "EB Garamond", serif;
  font-size: 48px;
  margin-bottom: 190px;
}
.img-cover .text .text-break {
  color: #32422D;
}

.profile-marriege {
  color: #32422D;
}
.profile-marriege .dyna {
  font-family: "Dynalight", cursive;
  font-size: 110px;
}
.profile-marriege h2 {
  font-family: "Dynalight", cursive;
  font-size: 55px;
}

.info-marriege {
  background-image: linear-gradient(rgba(50, 66, 45, 0.7), rgba(50, 66, 45, 0.7)), url("../img/2.png");
  height: 800px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 350px;
}
.info-marriege .text {
  padding-top: 160px;
}
.info-marriege .text p {
  font-family: "Dynalight", cursive;
  font-size: 110px;
}
.info-marriege .card {
  margin-top: 50px;
  padding: 20px;
  width: 60%;
  height: 500px;
}
.info-marriege .card .card-title {
  font-family: "Dynalight", cursive;
  font-size: 80px;
}
.info-marriege .card button {
  width: 300px;
  font-size: 26px;
}

.gallery-marriege h1 {
  color: #32422D;
  font-family: "Dynalight", cursive;
  font-size: 110px;
}
.gallery-marriege .owl-one .item img {
  border: 10px solid white;
}

.story-marriege {
  margin: auto;
  color: #465D3E;
  margin-bottom: 120px;
}
.story-marriege h1 {
  font-family: "Dynalight", cursive;
  font-size: 110px;
}
.story-marriege .card {
  width: 60%;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.contact {
  background-image: linear-gradient(rgba(70, 93, 62, 0.5), rgba(70, 93, 62, 0.5)), url("../img/4.png");
  background-position: center;
  height: 800px;
}
.contact form h1 {
  font-family: "Dynalight", cursive;
  font-size: 90px;
}
.contact .btn-send {
  background-color: #32422D;
  width: 100px;
}

.gift {
  color: #32422D;
}
.gift .dyna {
  font-family: "Dynalight", cursive;
  font-size: 90px;
}
.gift .card {
  background-color: #32422D;
  margin: auto;
  width: 50%;
  color: white;
}
.gift .qr {
  width: 200px;
  border-radius: 20px;
}

footer {
  height: 120px;
  background-color: rgba(70, 93, 62, 0.6980392157);
  margin-top: 200px;
}
footer button {
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {
  .img-cover {
    background-position: 30% 40%;
  }
  .img-cover .text h1 {
    font-size: 90px;
  }
  .img-cover .text .strip {
    font-size: 28px;
    margin-bottom: 150px;
  }
  .info-maride {
    margin-bottom: 800px;
  }
  .info-maride .card {
    width: 300px;
    height: 800px;
  }
  .info-maride .card .card-title {
    font-size: 70px;
  }
  .info-maride .card button {
    width: 130px;
    font-size: 17px;
    margin-bottom: 15px;
  }
  .our .card {
    width: 300px;
  }
  .contact {
    height: 900px;
  }
  .contact form h1 {
    font-size: 60px;
  }
  .gift .card {
    width: 80%;
  }
}/*# sourceMappingURL=main.css.map */